<div class="jumbotron text-center">
    <h1>Nodes</h1>
    <div class="col-md-12">
    	<div class="row">
    		<div class="col-md-4 subpanel panel-default">Ansicht 1</div>
    		<div class="col-md-8">
    			<button type="button" class="btn btn-default grau  active clickable" data-tooltip="tooltip" title="" data-original-title="Anklickbar">Anzeigen</button>
    			<button type="button" class="btn btn-default grau  active clickable" data-tooltip="tooltip" title="" data-original-title="Anklickbar">Bearbeiten</button>
    		</div>
    	</div>
    </div>

</div>