<div class="container">
    <h3>Details des Knoten</h3>
   <div class="row">
        <div class="col-md-12"> 
            <h4> Aktuelle Daten: </h4>
            <div class="list-group">
                <li class="list-group-item">Name: {{node}}</li>
            <li class="list-group-item">Inhalt: {{content}}</li>
            <li class="list-group-item">Kindknoten: {{childnodes}}</li>
            <li class="list-group-item">Sichtbar: {{visible}}</li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form novalidate="novalidate" class="form-horizontal">
                
                
                 <div class="control-group">
                    <label class="control-label" for="inputName">Neuer Name (muss eindeutig sein):</label>
                    <div class="controls">
                        <input type="text" id="inputName" ng-model="updnode.name" placeholder="{{node}}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputContent">Neuer Inhalt:</label>
                    <div class="controls">
                        <input type="text" id="inputContent" ng-model="updnode.content" placeholder="{{content}}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputChildNodes">Neue Kindknoten (trennen mit | ):</label>
                    <div class="controls">
                        <input type="text" id="inputChildNodes" ng-model="updnode.childNodes" placeholder="{{childnodes}}"/>
                    </div>
                </div>
               
                <div class="control-group">
                    <div class="controls">

                       
                        <a ng-click="updateNode(updnode.name, updnode.content, updnode.visible,updnode.childNodes)" class="btn btn-small btn-primary">Ansicht bearbeiten</a>
                        <div class="btn btn-small btn-danger" ng-click="hideNode()">ausblenden</div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>