<div class="container">
    <h1>Details des Knoten</h1>

    <div class="col-md-4 jumbotron"> 
        <h3> Aktuelle Daten: </h3>
        <div class="list-group">
            <li class="list-group-item">Name: {{currentNode.name}}</li>
        <li class="list-group-item">Inhalt: {{currentNode.content}}</li>
        <li class="list-group-item">Kindknoten: {{childNodes}}</li>
        <li class="list-group-item">Sichtbar: {{currentNode.visible}}</li>
        </div>
    </div>
    <div class="col-md-4 jumbotron">
        <form novalidate="novalidate" class="form-horizontal">
            
            
             <div class="control-group">
                <label class="control-label" for="inputName">Neuer Name (muss eindeutig sein):</label>
                <div class="controls">
                    <input type="text" id="inputName" ng-model="node.name" placeholder="{{currentNode.name}}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputContent">Neuer Inhalt:</label>
                <div class="controls">
                    <input type="text" id="inputContent" ng-model="node.content" placeholder="{{currentNode.content}}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputChildNodes">Neue Kindknoten (trennen mit | ):</label>
                <div class="controls">
                    <input type="text" id="inputChildNodes" ng-model="node.childNodes" placeholder="{{childNodes}}"/>
                </div>
            </div>
           <div class="btn btn-small btn-danger" ng-click="deleteNode(currentNode.name)">ausblenden</div>
            <div class="control-group">
                <div class="controls">

                    <a ng-click="cancel()" class="btn btn-small">abbrechen</a>
                    <a ng-click="updateNode(node.name, node.content, node.visible,node.childNodes)" class="btn btn-small btn-primary">Ansicht bearbeiten</a>

                </div>
            </div>
        </form>
    </div>
</div>